.cabinet-img {
	height: 80px;
	width: 80px;
	display: block;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.cabinet-item {
	width: 32%;
	margin-left:1px;
	margin-right:1px;
}

.input-item {
	width:30px;
	height: 25px;
}

.recipe-well {
	height:31%;
}

.static-recipe {
	background: #7BEF7E;
}

.input-recipe {
	background: #30BEA3;
}

.well-store {
	background: #8FBC8F;
}

.btn-game {
	background-color: #A230A8;
	color: #FFFFFF;
}

.well-cabinet {
	background: #C17230;
}

.well-objective {
	background:#EA696D;
}